@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  
  --primary-color-dark: #E9BD8C;
  --secondary-color: #933C24;
  --text-dark: #3E2723;
  --text-dark-light: #12252e;
  --text-dark-light-2: #1c5973;
  --background-section: #f4f1ea;
  --background-section-2: #F5F0E6;
  --text-light: #78716c;
  --white: #fff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Georgian", sans-serif;
  
}
html,
body {
  scroll-behavior: smooth;
}
.mobile_nav {
  position: absolute;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  z-index: 1000;
  color: var(--white);
}
.desktop_nav {
    display: none;
  }
.nav_bar img{
  width: 44px;
  
}
a{
 text-decoration: none;
 color: #f4f1ea;
}

.nav_bar{
   display: flex;
  align-items: center;
  justify-content: space-between;
   background-color:transparent;
  width: 90%;
  margin: 1rem auto;
}

.nav_menu_btn{
  font-size: 30px;
  cursor: pointer;
  color:var(--white);
}

.nav_links{
  display: none;
}
.nav_links.open {
  transform: translateY(0);
}
.nav_links_desktop {
    display: none;
    
  }
.section_container{
  background-color: var(--white);
  width: 90%;
  margin: 2.5rem auto;
  
   
}
.section_subheader{
position: relative;
font-weight: 500;
letter-spacing: 2px;
color: #111111;
width: 90%;
margin: 0 auto;
}
.section_subheader::after{
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem -50%);
  height: 2rem;
  width: 90%;
}
.section_header{
  font-family: "Sansita Swashed", system-ui;
  width: 100%;
  margin: 1rem auto ;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: #111111;
  text-align: center;
}
.section_description{
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}





/* ------------ HEROOO CONTAINER ------------- */
.hero-container{
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/hero\ img.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero_content{
  width: 90%;
  margin:  0 auto;
  padding-top: 8rem;
}
.hero_content h1 {
 font-family: "Sansita Swashed", system-ui;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  color: var(--white);
  text-align: left;
  margin-top: 1rem;
}

.hero_content p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  opacity: 0.8;
  color:var(--primary-color-dark);
  text-align: left;
  
}


.hero-btn{
  padding: 0.6rem 1rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1rem;
}

.hero-last{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
  margin-top: 2rem;
}

.learn_text{
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color-dark);
  cursor: pointer;

}
.section_content{
  background-color: var(--white);
   
  
}

.grid_images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 1.4rem;
}
.grid_images img{
   margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.card_field{
  position: relative;
}
.Deliverables{
  position: absolute;
  bottom: 0;
  width: 100%;   
  padding:  0.6rem;
  font-family: "Inter", sans-serif;
}

.first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6rem;
   align-items: center;
   color: var(--white);
}
.first h4{
 font-size: 0.9rem;
   font-weight: 400;
}
.first i{
  font-size: 1.4rem;
}

.second{
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  margin-bottom: 0.8rem;
}
.second p{
  font-size: 0.68rem;
  font-weight: 400;
}
.grid-btn{
  padding: 0.3rem 0.6rem;
  outline: none;
  border: none;
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


/* ----------DISCOUNT  CONTAINER------------ */

.discount_container{
  position: relative;
    width: 100%;
   margin: 2rem  0 auto;
   overflow: hidden;
   
}
.discount_container img{
  width: 100%;
  height: 100%;
  display: block;
}
.group_info{
 width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  font-family: "Inter", sans-serif;
   padding-top: 0.2rem;
}
.group_info h4 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 0.8rem;
  font-weight: 550;
  text-align: center;
  line-height: 1.2;
  color: var(--secondary-color);
}
.group_info p {
  font-size: 0.6rem;
  font-weight: 360;
  text-align: center;
  padding-bottom: 0.5rem;
  color: var(--text-light);
  width: 60%;
}
.group-btn{
  margin: 0rem 1rem;
    padding: 0.4rem 0.6rem;
  outline: none;
  border: none;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.categories {
  font-family: "Inter", sans-serif;
  color: #2c2523;
  display: flex;
 justify-content: center;
 gap: 8px;
 border-bottom: 1px solid #e0dcd8;
 width: 100%;
 margin-bottom: 6px;
 white-space: nowrap;
}

.tab{
  text-decoration: none;
  color: #5d5d5d;
  font-size: 10px;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
  transition: var(--primary-color-dark) 0.2s ease;
}

.tab:hover{
  color: var(--primary-color-dark);
}

.tab.active{
  color: #5d5d5d;
}
  .tab.active::after{
 content: '';
 position: absolute;
 bottom: 3px;
 left: 0;
 width: 100%;
 height: 3px;
 background-color: var(--secondary-color);
 border-radius: 2px;
}  

.gallery{
   width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 2rem;
}
.gallery img{
 margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
  
}


.gallery-item img:hover{
  transform:scale(1.03);
}

/* --------- ABOUT CONTAINER -------- */

.about_container{
  position: relative;
    width: 100%;
   height: 100%;
   margin: 2rem  0 auto;
   overflow: hidden;
  
}
.about_container img{
  width: 100%;
  height: auto;
  display: block;
}
.about_info{
 width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 0.4rem;
    
}
.about_info h4 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 0.8rem;
  font-weight: 550;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 0.2rem;
  color: #f5f5f5
}

.about_info p {
  font-size: 0.6rem;
  font-weight: 360;
  text-align: center;
  padding-bottom: 0.6rem;
  color: #b9b9b9;
  opacity: 1;
  margin: 0;
  width: 50%;
}

.about-btn{
  margin: 0.2rem 1rem;
  padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* ----------FEATURE CONTAINER------- */

.feature-set{
   width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
  margin-top: 2rem;
}

.feature-set img{
 margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
 
}
.content_details{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  margin: 0.9rem 0;
  padding: 0 1.4rem ;
}

.content_details h5{
  font-size: 1rem;
  font-weight: 600;
}
.content_details p{
  font-size: 1rem;
    font-weight: 600;
}
/* --------- FOOTER CONTAINER ------------ */


 .footer_container{
  width: 100%;
  margin: 0 auto;
 
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/footer\ mat.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.section_content_footer{
  font-family: "Inter", sans-serif;
  width: 90%;
margin: 0 auto;
padding-top: 2rem;
}
footer img{
  width: 40px;
}

.logo-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
  
}
.top-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top-details p{
  color: var(--primary-color-dark);
  font-size: 14px;
  font-weight: 400;
}
.socials {
 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  gap: 4px;
}
.socials img {
  display: inline;
  color: var(--primary-color-dark);
  text-decoration: none;
  align-items: center;
  width: 16px;
}
.hr-divide{
  border-bottom: 0.2px solid #e9bd8d;
 padding-bottom: 20px;
 opacity: 4;
 
}
.list_pages{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini_items{
  color: #b9b8b8;
  margin-bottom: 1.8rem;
}
.mini_items h4{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.mini_items p{
  font-size: 16px;
 
}
.item-top{
  color: var(--primary-color-dark);
}
.small_detail{
  margin-top: 1rem;
  
}
.small_detail img{
width: 40px;
height: 40px;
border-radius: 2px;
}
.dates{
  margin-bottom: 0;
}
.dates p{
  font-size: 14px;
  font-weight: 400;
 color: var(--primary-color-dark);
}
.dates h5{
  font-size: 16px;
  font-weight: 460;
  
}

.small_detail{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.copyright{
  width: 100%;
  height: 40px;
  color: #737373;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.8;
  padding-bottom: 1rem;
}

/* MEDIA CORRECTION */

/* ---------MEDIA  ------------------------- */
@media all and (min-width: 425px){
  .hero_content h1 {
  font-size: 2.28rem;
  
}

.hero_content p {
  font-size: 1.2rem; 
}

.second p{
  font-size: 0.9rem;
  
}
.grid-btn{
  font-size: 0.9rem;
  font-weight: 400;
}

.group_info h4, .about_info h4 {
  font-size: 1.2rem;
}
.group_info p, .about_info p {
  font-size: 0.7rem;
  padding-bottom: 0.5rem;
  width: 50%;
}
.group-btn, .about-btn{
  padding: 0.4rem 0.8rem;
font-size: 0.8rem;
}
.content_details h5{
  font-size: 1.2rem;
  font-weight: 600;
}
.content_details p{
  font-size: 1.2rem;
    font-weight: 600;
}
.footer_container{
  margin-top: 2rem;
}
  }

@media all and (min-width: 768px){

  .section_container{
    margin-top: 4rem;
  }
.section_header{
  font-size: 2.6rem;
  line-height: 2rem;
}
.section_description{
  font-size: 1rem;
  width: 90%;
  line-height: 1.5;
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
}

 .nav_links_desktop {
    display: none;
  }
 .hero-container{
  height: 80vh;
 }
 .hero_content{
  padding-top: 10rem;
}
.hero-container p {
  font-size: 1.6rem;
  width: 100%;
}
.hero-container h1 {
  font-size: 4rem;
  line-height: 1.2;
}

.hero-btn{
  font-size: 1.4rem;
  
}
.learn_text{
  font-size: 1.4rem;
  font-weight: 500;
}

.grid_images{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid_images img{
   margin: 0 auto;
  width: 100%;
  height: auto;
}
.first h4{
 font-size: 1rem;
}
.first i{
  font-size: 1.4rem;
}

.second p{
  font-size: 1rem;
}
.grid-btn{
  padding: 0.3rem 0.6rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

/* DISCOUNT 768 */
.discount_container{
   margin-top: 4rem ;
}

.group_info p {
  font-size: 1rem;
  margin-top: 0.5rem;
  width: 30%;
  
}
.group_info h4 {
  font-size: 1.8rem;
 line-height: 1.2;
}

.group-btn{
  padding: 0.7rem 1.2rem;
  font-size: 1rem ;
  margin-top: 1rem;
}

.gallery{
  margin-top: 4rem;

}
/*  ABOUT 768 */
.about_container{
   margin-top: 4rem ;
}
.about_info h4 {
  font-size: 1.8rem;
 line-height: 1.2;
}
.about_info p {
  font-size: 1rem;
  margin-top: 0.7rem;
  width: 40%;
  
}
.about-btn{
  padding: 0.8rem 1.2rem;
  font-size: 1rem ;
  margin-top: 1rem;
}
/* EXPLORE 768 */
.categories{
  gap: 14px;
  margin-top: 2.8rem;
}
  .tab{
  font-size: 1rem;
}
/* --------- FEATURE 768 ---------- */


 .feature-set{
  grid-template-columns: repeat(3, 1fr);
}

.feature-set img{
 margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
}  
.content_details h5{
  font-size: 1.2rem;

}
.content_details p{
  font-size: 1.2rem;
} 

/* FOOTER 768 */

.footer_container{
  margin-top: 4rem;
}
.logo-below img{
  width: 50px;
}
.top-details{
  gap: 40px;
}
.top-details p{
  font-size: 18px;
}
  .socials img {
  width: 26px;
}
}


/* ----- 1024 SIZE  ------ */
 @media all and (min-width: 1024px){
.mobile_nav {
    display: none;
  }
.desktop_nav{
  display: flex;
  align-items: center;
background-color:transparent;
  z-index: 1000;
  position: absolute; 
   isolation: isolate;  
  top: 0;
  width: 100%;
  margin-top: 2rem;
}
.desktop_nav .nav_bar{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10rem;
}
.desktop_nav .nav_bar img{
  width: 50px;
}
.nav_links_desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    font-size: 22px;
    font-weight: 500;
  }
  .nav_links_desktop li {
    list-style: none;
  }
  .nav_links_desktop li a {
    text-decoration: none;
    color: var(--white);
  }
  .nav_bar{
width: 90%;
}
.tab{
  text-decoration: none;
  color: #5d5d5d;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
  transition: var(--primary-color-dark) 0.2s ease;
}

.tab:hover{
  color: var(--primary-color-dark);
}

.tab.active{
  color: var(--primary-color-dark);
}
  .tab.active::after{
display: none;
}  

.section_header{
  margin-top: 4.4rem;
 
  font-size: 64px;
 
}
.section_description{
  font-size: 1.1rem;
  padding: 0.8rem 0 ;
  width: 80%;
  align-items: center;
  line-height: 1.5;
  
}
 .hero-container{
  width: 100%;
   height: 100vh;
  position: relative;
}
.hero_content{
  padding-top: 14rem;
}
.hero-container p {
  font-size: 24px;
 
 
}
.hero-container h1 {
  font-size: 74px;
  line-height: 4.8rem;

}

.hero-btn{
  font-size: 24px;
}
.learn_text{
  font-size: 24px;
  font-weight: 500;
}
.grid_images{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2rem 2.4rem;
  width: 94%;
}
.grid_images img{
   margin: 0 auto;
  width: 100%;
  height: auto;
}
.Deliverables{
 
  padding: 0.4rem 1.2rem;
}
.first h4{
font-size: 24px;
}
.first i{
  font-size: 1.8rem;
}
.second p{
  font-size: 24px;
}
.grid-btn{
  padding: 0.6rem 1.6rem;
  font-size: 1rem;
  font-weight: 500;
 
}
/* DISCOUNT 1024 */
   
 .group_info h4 {
  font-size: 48px;
 line-height: 1.2;
}
.group_info p {
  font-size: 24px;
  margin-top: 0.7rem;
  width: 460px;
  
}
.group-btn{
  padding: 0.7rem 1.6rem;
  font-size: 24px ;
  font-weight: 400;
  margin-top: 1.3rem;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 26px;
 width: 93%;
 margin: 2.4rem 2.86rem;
  padding-top: 2.8rem;
}
.tab{
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
  transition: var(--primary-color) 0.2s ease;
}

.gallery{
   width: 94%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin: 4rem 2.56rem;
}
.gallery img{
  width: 100%;
  height: auto;
}
/*  ABOUT 1024 */

 .about_container img{
  width: 100%;
  height: auto;
}

.about_info h4 {
  font-size: 48px;
 line-height: 1.2;
}
.about_info p {
  font-size: 24px;
  margin-top: 0.7rem;
   width: 460px;
}
.about-btn{
  padding: 0.7rem 1.6rem;
  font-size: 24px;
  font-weight: 400;
  margin-top: 2rem;
}

/* --------- FEATURE 1024 ---------- */

 .feature-set{
   width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
   margin: 0 auto;
   padding-top: 4rem;
   padding-bottom: 4rem;
}

.feature-set img{
 margin: 0 auto;
  width: 98%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
}  
.content_details{
  display: flex;
  flex-direction: row;
padding: 0 1rem;
}
.content_details h5{
  font-size: 32px;
}
.content_details p{
  font-size: 32px;
}
/* FOOTER 1024 */
.footer_container{
  width: 100%;
}
 .section_content_footer{
 width: 90%;
    margin: 0 auto;
}
.list_pages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seperator {
  display: none;
} 
footer img{
width: 50px;
}
 .top_details{
  gap: 20px;
 }
.top-details p{
  color: var(--primary-color-dark);
  font-size: 24px;
}
.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  gap: 8px;
}
.socials img {
  width: 30px;
}

.mini_items h4{
  font-size: 36px;
}
.mini_items p{
  font-size: 24px;
}

.dates p{
  font-size: 18px;
}
.dates h5{
  font-size: 24px;
}

.copyright{
  padding-top: 4rem;
  font-size: 24px;
}
 }

 @media all and (min-width: 1440px){
.section_description{
  font-size: 1.4rem;
}

 }
 