@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Georgian:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita+Swashed:wght@300..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --primary-color: #D84315;
  --primary-color-dark: #e6400d;
  --text-dark: #3E2723;
  --text-dark-light: #12252e;
  --text-dark-light-2: #1c5973;
  --background-section: #f4f1ea;
  --background-section-2: #F5F0E6;
  --text-light: #78716c;
  --white: #fff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Georgian", sans-serif;
  
}
html,
body {
  scroll-behavior: smooth;
}


.mobile_nav {
  position: absolute;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 1000;
  color: var(--white);
}
.desktop_nav {
    display: none;
  }

.nav_bar img{
  width: 40px;
  max-width: 60px;
max-height: 40px;
}


a{
 text-decoration: none;
 color: #f4f1ea;
}

.nav_bar{
   display: flex;
  align-items: center;
  justify-content: space-between;
   background-color:transparent;
padding: 0.9rem 1.2rem; 

}

.nav_menu_btn{
  font-size: 1.5rem;
  cursor: pointer;
  color:var(--white);
}

.nav_links{
  /* position: absolute;
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1; */
  display: none;
}
.nav_links.open {
  transform: translateY(0);
}
.nav_links_desktop {
    display: none;
    
  }
.section_container{
  background-color: var(--white);
  width: 90%;
  margin: 2rem auto;
  padding: 1rem auto;
   
}
.section_subheader{
margin-bottom: 0.5rem;
position: relative;
font-weight: 500;
letter-spacing: 2px;
color: var(--text-dark);
}
.section_subheader::after{
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem -50%);
  height: 2rem;
  width: 2rem;
}
.section_header{
  font-family: "Sansita Swashed", system-ui;
  max-width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}
.section_description{
  
  padding-bottom: 1.8rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
}

/* .btn{
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
} */



/* ------------ HEROOO CONTAINER ------------- */
main  .hero-container{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 8rem 0rem;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/hero\ img.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.hero-container h1 {
 font-family: "Sansita Swashed", system-ui;
  font-size: 2.8rem;
  font-weight: 500;
  padding: 0 2rem;;
  line-height: 2.9rem;
  color: var(--white);
  text-align: left;
}

.hero-container p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
  opacity: 0.8;
  color:#a3675e;
  text-align: left;
  padding: 0 2rem;
}


.hero-btn{
  padding: 0.6rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 2rem  0 1rem 2rem ;
}

.hero-last{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;
}

.learn_text{
  font-size: 1.1rem;
  font-weight: 500;
  color: #e94b1b;
  cursor: pointer;

}
.section_content{
  background-color: var(--white);
   /* margin: 1rem auto;
  padding: 1rem auto;;
  width: 80%; */
  
}
/* .section_content h2{
   color: var(--text-dark);
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

 .about_details{
  color: var(--text-light);
  font-size: 1rem;
  line-height: 1.4;
  padding: 1rem 0;
  text-align: center;
} */

.grid_images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
  margin-top: 1.4rem;
}
.grid_images img{
   margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}
.card_field{
  position: relative;
}
.Deliverables{
  position: absolute;
  bottom: 0;
   width: 99%; 
  padding:0   0.6rem;
  font-family: "Inter", sans-serif;
}

.first{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.6rem;
   align-items: center;
   color: var(--white);
}
.first h4{
 font-size: 0.9rem;
   font-weight: 600;
}
.first i{
  font-size: 1.2rem;
}

.second{
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  margin-bottom: 0.8rem;
}
.second p{
  font-size: 0.68rem;
  font-weight: 400;
}
.grid-btn{
  padding: 0.3rem 0.6rem;
  outline: none;
  border: none;
  font-size: 0.68rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* ----------DISCOUNT  CONTAINER------------ */

.discount_container{
  position: relative;
    width: 100%;
   height: auto;
   margin: 0 auto;
   overflow: hidden;
}
.discount_container img{
  width: 100%;
  height: auto;
  display: block;
}
.group_info{
 width: 100%;
 height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  font-family: "Inter", sans-serif;
}
.group_info h4 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 0.9rem;
  font-weight: 550;
  text-align: center;
  line-height: 1.2;
  color: var(--primary-color);
}
.group_info p {
  font-size: 0.6rem;
  font-weight: 360;
  text-align: center;
  padding-bottom: 0.5rem;
  color: var(--text-light);
}
.group-btn{
  margin: 0rem 1.6rem;
    padding: 0.4rem 0.6rem;
  outline: none;
  border: none;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.categories {
  font-family: "Inter", sans-serif;
  color: #2c2523;
  display: flex;
 justify-content: center;
 gap: 12px;
 border-bottom: 1px solid #e0dcd8;
 width: 100%;
 margin-bottom: 6px;
 white-space: nowrap;
}

.tab{
  text-decoration: none;
  color: #706965;
  font-size: 0.7rem;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
  transition: var(--primary-color) 0.2s ease;
}

.tab:hover{
  color: var(--primary-color-dark);
}

.tab.active{
  color: var(--primary-color-dark);
}

.tab.active::after{
 content: '';
 position: absolute;
 bottom: 3px;
 left: 0;
 width: 100%;
 height: 3px;
 background-color: var(--primary-color);
 border-radius: 2px;
}
.gallery{
   width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 4rem;
}
.gallery img{
 margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
  
}


.gallery-item img:hover{
  transform:scale(1.03);
}

/* --------- ABOUT CONTAINER -------- */

.about_container{
  position: relative;
    width: 100%;
   height: 100%;
   margin: 0 auto;
   overflow: hidden;
  
}
.about_container img{
  width: 100%;
  height: auto;
  display: block;
}
.about_info{
 width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.about_info h4 {
  font-family: "Sansita Swashed", system-ui;
  font-size: 0.9rem;
  font-weight: 550;
  text-align: center;
  line-height: 1.2;
  padding-bottom: 0.2rem;
  color: var(--white)
}

.about_info p {
  font-size: 0.4rem;
  font-weight: 360;
  text-align: center;
  padding-bottom: 0.6rem;
  color: #b9b9b9;
  opacity: 1;
  margin: 0;
  width: 50%;
}

.about-btn{
    margin: 0.2rem 1.7rem;
    padding: 0.4rem 0.8rem;
  outline: none;
  border: none;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

/* ----------FEATURE CONTAINER------- */

.gallery-1{
   width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  margin-top: 2rem;
}

.gallery-1 img{
 margin: 0 auto;
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
  
}
.content_details{
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--text-dark);
  margin: 0.9rem 0;
  padding: 0 2.8rem;
}

.content_details h5{
  font-size: 0.7rem;
  font-weight: 600;
}
.content_details p{
  font-size: 0.7rem;
    font-weight: 600;
}
/* --------- FOOTER CONTAINER ------------ */


 .footer_container{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem 0rem;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/footer\ mat.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}


.section_content_footer{
  font-family: "Inter", sans-serif;
  /* background-color: var(--text-dark); */
  padding: 0.2rem 1.2rem;
  width: 100%;

}
footer img{
  width: 60px;
}

.logo-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  
  
}
.top-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.top-details p{
  color: #b9b8b8;
  font-size: 0.9rem;
}
.socials {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  gap: 4px;
}
.socials a {
  display: inline;
  color: var(--primary-color-dark);
  text-decoration: none;
  align-items: center;
  font-size: 18px;
}
.hr-divide{
  border-bottom: 0.6px solid #7a4332;
 
}
.list_pages{
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini_items{
  color: #b9b8b8;
  margin-bottom: 1.8rem;
}
.mini_items h4{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.mini_items p{
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
}
.item-top{
  color: var(--primary-color-dark);
}
.small_detail{
  margin-top: 1rem;
  
}
.small_detail img{
width: 40px;
height: 40px;
border-radius: 2px;
}
.dates{
  margin-bottom: 0;
}
.dates p{
  font-size: 0.8rem;
  font-weight: 400;
 color: var(--primary-color-dark);
}
.dates h5{
  font-size: 0.9rem;
  font-weight: 460;
  
}

.small_detail{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.copyright{
  width: 100%;
  height: 40px;
  color: #c6c5c5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 350;
  opacity: 0.8;
  padding-top: 10.5rem;
}

/* MEDIA CORRECTION */

/* ---------MEDIA  ------------------------- */
@media all and (min-width: 768px){

.section_header{
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 2rem;
}
.section_description{
  padding: 1rem 1rem;
}
.nav_bar{
   padding: 0.9rem 2.4rem;
}
 .nav_links_desktop {
    display: none;
  }
 .hero-container{
  width: 1200px;
 }
.hero-container p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  width: 100%;
}
.hero-container h1 {
  font-size: 3.2rem;
  line-height: 1.2;
}
.hero-btn{
  padding: 0.6rem 1.8rem;
  font-size: 1.4rem;
  margin: 2rem  0 1rem 2rem ;
}
.learn_text{
  font-size: 1.4rem;
  font-weight: 500;
}
.grid_images{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid_images img{
   margin: 0 auto;
  width: 100%;
  height: auto;
}
}

/* DISCOUNT 768 */
.group_info p {
  font-size: 1rem;
  margin-top: 0.7rem;
  width: 30%;
  
}
.group_info h4 {
  font-size: 1.8rem;
 line-height: 1.2;
}
.group_info p {
  font-size: 1rem;
  margin-top: 0.7rem;
  
}
.group-btn{
  padding: 0.7rem 1.2rem;
  font-size: 1rem ;
  margin-top: 2rem;
}


/*  ABOUT 768 */
.about_info{
  padding-top: 2.6rem;
}
.about_info h4 {
  font-size: 1.8rem;
 line-height: 1.2;
}
.about_info p {
  font-size: 1rem;
  margin-top: 0.7rem;
  width: 40%;
  
}
.about_btn{
  padding: 0.7rem 1.2rem;
  font-size: 1rem ;
  margin-top: 2rem;
}
/* EXPLORE 768 */
.categories{
  gap: 14px;
  margin-top: 2rem;
}
  .tab{
  font-size: 1rem;
}
/* --------- FEATURE 768 ---------- */

/* .gallery-1{
  gap: 10px;
  
} */
.content_details h5{
  font-size: 1.2rem;

}
.content_details p{
  font-size: 1.2rem;
} 

/* FOOTER 768 */

.section_content_footer {
    width: 100%;
    padding: 2.6rem 2.6rem;
}
  

/* ----- 1024 SIZE  ------ */
 @media all and (min-width: 1024px){
.mobile_nav {
    display: none;
  }
.desktop_nav{
  display: flex;
  align-items: center;
background-color:transparent;
  z-index: 1000;
  position: absolute; 
   isolation: isolate;  
  top: 0;
  width: 100%;
}
.desktop_nav .nav_bar{
  width: 86%;
    margin: 0 auto;
    padding: 1.6rem 0.4rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10rem;
}
.desktop_nav .nav_bar img{
  width: 260px;
max-height: 260px;
}
.nav_links_desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .nav_links_desktop li {
    list-style: none;
  }
  .nav_links_desktop li a {
    text-decoration: none;
    color: var(--white);
  }
  .nav_bar{
width: 86%;
}

.section_header{
  margin-top: 4.4rem;
  font-size: 2.5rem;
 
}
.section_description{
  font-size: 1rem;
  padding: 0.8rem 6.8rem ;

  align-items: center;
  line-height: 1.5;
  
}
.hero_container{
  width: 100%;
  position: relative;
}
.hero_content{
  margin: 6rem 2.8rem;
  padding: 1rem 0.6rem;
}
.hero-container p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.hero-container h1 {
  font-size: 4.5rem;
  line-height: 4.8rem;
}

.hero-btn{
  padding: 0.6rem 1.6rem;
  font-size: 1rem;
  margin: 4.6rem  0 1rem 2rem ;
}
.learn_text{
  font-size: 1rem;
  font-weight: 500;
}
.grid_images{
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2rem 2.4rem;
  width: 94%;
}
.grid_images img{
   margin: 0 auto;
  width: 100%;
  height: auto;
}
.Deliverables{
 
  padding: 0.4rem 1.2rem;
}
.first h4{
font-size: 1.4rem;
}
.second p{
  font-size: 1rem;
}
.grid-btn{
  padding: 0.6rem 1.6rem;
  font-size: 1rem;
  font-weight: 500;
 
}
/* DISCOUNT 1024 */

 .group_info h4 {
  font-size: 3rem;
 line-height: 1.2;
}
.group_info p {
  font-size: 1rem;
  margin-top: 0.7rem;
  width: 30%;
  
}
.group-btn{
  padding: 0.7rem 1.6rem;
  font-size: 1.6rem ;
  font-weight: 400;
  margin-top: 2rem;
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 26px;
 width: 93%;
 margin: 2rem 2.86rem;
}
.tab{
  font-size: 0.9rem;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
  transition: var(--primary-color) 0.2s ease;
}

.gallery{
   width: 94%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px;
  margin: 4rem 2.56rem;
}
.gallery img{
  width: 100%;
  height: auto;
}
/*  ABOUT 1024 */
.about_info{
  padding-top: 2.6rem;
}
 .about_container img{
  width: 100%;
  height: auto;
}

.about_info h4 {
  font-size: 3rem;
 line-height: 1.2;
}
.about_info p {
  font-size: 1rem;
  margin-top: 0.7rem;
   width: 30%;
}
.about-btn{
  padding: 0.7rem 1.6rem;
  font-size: 1.6rem ;
  font-weight: 400;
  margin-top: 2rem;
}

/* --------- FEATURE 1024 ---------- */

 .gallery-1{
   width: 94%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;

  margin: 4rem 2.4rem;
}

.gallery-1 img{
 margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: block;
  transition: transform 0.3 ease;
}  



.content_details{
  display: flex;
  flex-direction: row;

}
/* .content_details h5{
  font-size: 0.9rem;
  font-weight: 400;
}
.content_details p{
  font-size: 0.9rem;
    font-weight: 400;
}   */

/* FOOTER 1024 */
.footer_container{
  width: 100%;
}
 .section_content_footer{
 width: 100%;
    padding: 2.6rem 4.8rem;
}
.list_pages{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.seperator {
  display: none;
} 
 .top_details{
  gap: 20px;
 }
}